Entra OAuth MCP support breaks due to strict check in newer modelcontextprotocol/typescript-sdk

GitHub Copilot CLI 1.0.80 fails with agentgateway 1.4.x's support for MCP with Entra ID:

`Authentication failed: MCPOAuthError: Incompatible authorization server: authorization server advertised an issuer that does not match the URL its metadata was discovered from (RFC 8414 §3.3); refusing to connect.`

The same issue was reported for Atlassian MCP OAuth in https://github.com/github/copilot-cli/issues/4490.

The underlying cause appears to be https://github.com/modelcontextprotocol/typescript-sdk/pull/2344 that introduced a strict check by default, that fails due to the AS metadata bridging implemented in https://github.com/agentgateway/agentgateway/pull/2408.